h3 {
  color: rgb(251, 164, 15);
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid black;
  margin: 0;
}

.flowerImage {
  margin-top: 10px;
  border: 1px solid black;
}

.container {
  display: flex;
  align-items: center;
}

.sideBox {
  padding-left: 3px;
}
